:root {
  --show-hint: none;
  --theme-icon-text: '\e804';
  --base-background: #141414;
  --base-fill: #303030;
  --dark-fill: #39393A;
  --brand-color: #409EFF;
  --ragular-text: #CFD3DC;
  --primary-text: #E5EAF3;
  --secondary-text: #A3A6AD;
  --info-color: #909399;
  --base-border: #4C4D4F;
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--base-background);
  font-family: Inter, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, \5fae\8f6f\96c5\9ed1, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  user-select: none;
}

html.light {
  --theme-icon-text: '\e803';
  --base-background: #FFFFFF;
  --base-fill: #F0F2F5;
  --dark-fill: #EBEDF0;
  --brand-color: #409EFF;
  --ragular-text: #606266;
  --primary-text: #303133;
  --secondary-text: #909399;
  --info-color: #909399;
  --base-border: #DCDFE6;
}

main {
  flex: 1;
  display: flex;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100vw;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--ragular-text);
  text-decoration: none;
}

a:hover {
  color: var(--brand-color);
  text-decoration: underline dotted;
}

.card {
  width: 21rem;
  height: 28rem;
  display: none;
  background-color: var(--base-fill);
  border: 1px solid var(--base-border);
  border-radius: 4px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
.card.visiable {
  display: flex;
}

.card .card-front {
  width: 100%;
  height: 100%;
  font-size: 20rem;
  color: var(--brand-color);
  position: relative;
}

.card .card-back {
  font-size: 3rem;
  color: var(--primary-text);
  display: var(--show-hint);
  position: absolute;
  bottom: .5rem;
  right: .5rem;
}

.card .card-number {
  font-size: 1rem;
  color: var(--secondary-text);
  position: absolute;
  top: .5rem;
  right: .5rem;
}

.card input {
  width: 0;
  height: 0;
  background: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
}

.card input:active,
.card input:focus {
  border: none;
  outline: none;
  caret-color: transparent;
}

#menu {
  border: 1px solid var(--base-border);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--secondary-text);
  z-index: 99999;
  background-color: var(--base-background);
  position: fixed;
  top: 50%;
  right: .5rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu .icon {
  cursor: pointer;
  font-size: 1.5rem;
  margin: .2rem;
}

@media (max-width: 767px) {
  #menu {
    width: 100%;
    top: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2.5rem;
    flex-direction: row;
  }
  .card {
    width: 15rem;
    height: 20rem;
  }
  .card .card-front {
    font-size: 14rem;
  }
}

#menu .icon:hover {
  color: var(--brand-color);
}

.content {
  padding: 1.5rem;
  color: var(--secondary-text);
  display: none;
}

.content.visiable {
  display: block;
}

.content h3 {
  color: var(--brand-color);
}

.content .form-item {
  line-height: 2rem;
}

.content ul li {
  line-height: 1.5rem;
}

.content em {
  font-weight: bold;
  font-style: normal;
  color: var(--ragular-text);
}

.content kbd {
  background-color: var(--dark-fill);
  padding: .2rem .5rem;
  border-radius: 3px;
}

.content hr {
  border: 1px dashed var(--base-border);
}

#home svg {
  width: 1.6rem;
  height: 1.6rem;
  stroke: var(--secondary-text);
  fill: none;
  stroke-width: 2.6rem;
}

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?99696836');
  src: url('../font/fontello.eot?99696836#iefix') format('embedded-opentype'),
    url('../font/fontello.woff2?99696836') format('woff2'),
    url('../font/fontello.woff?99696836') format('woff'),
    url('../font/fontello.ttf?99696836') format('truetype'),
    url('../font/fontello.svg?99696836#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon,
.icon:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
}

.icon:before {
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-niu-top:before {
  content: '\e800';
}

.icon-help-circled:before {
  content: '\e801';
}

.icon-cog:before {
  content: '\e802';
}

.icon-sun:before {
  content: '\e803';
}

.icon-moon:before {
  content: '\e804';
}

.icon-theme:before {
  content: var(--theme-icon-text);
}

.icon-arrows-cw:before {
  content: '\e805';
}

.icon-eye-off:before {
  content: '\e806';
}

.icon-keyboard:before {
  content: '\e807';
}

.icon-floppy:before {
  content: '\e808';
}

.icon-info:before {
  content: '\e809';
}

.icon-hourglass-2:before {
  content: '\e810';
}
